@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

h1{
	text-align: center;
	margin: 0;
	font-size: 40px;
	padding: 20px;
}

/* Vertical Navigation Bar*/

body{
	font-family: 'Josefin', sans;
	margin: 0;
	line-height: 1.5;
	background-color: lightblue;
}
main{
	max-width: 1200px;
	margin: 0px auto;
}
nav{
	background: rgb(128, 122, 235);
	background-image: radial-gradient(circle, rgba(128, 122, 235, 1) 0%, rgba(12, 12, 191, 1) 46%, rgba(74, 199, 224, 1) 100%);
}

nav ul{
	margin:0 auto;
}
li{
	display: inline;
	font-size: 20px;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
nav a:link{
	color: white;
}
nav a:visited{
	color: ghostwhite;
}
nav a:hover{
	color: darkblue;
}
nav a:active{
	color: black;
}
footer{
	text-align: center;
	border-bottom: 1px solid black;
	padding: 4px;
	background-color: lightskyblue;
}

/* CSS for Tables */
@media only screen and (max-width: 1024px){ 
	h1{
		font-size: 2em;
	}
}

/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px){
	h1{
		font-size: 1.5em;
	}
}
table{
	border-collapse: collapse;

}

td,th{
	border: 1px solid #bbbbbb;
	padding: 18px;
	background-color: lightblue;
	font-size: 18px;
}
th{
	background-color: purple;
	color: white;
}
label{
	float: left;
	width: 8em;
	padding-right: 1em;

}
input{
	margin-bottom: 1em;
	display: block;
	border-radius: 5px;
}
textarea{
	margin-bottom: 1em;
	display: block;
	border-radius: 5px;
}
input[type="text" i] {
	paddin: 1px 2px;
}
input[type=submit]{
	display: block;
	background-color: lightgray;
}
main{
	text-align: left;

}
h2{
	text-align: center;
	display: block;
	font-size: 1.6em;
	margin-block-start: 0.03em;
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.center-title{
	text-align: center;
}
form, table{
	margin: 0 auto;
}

form{
	background-color: lightblue;
}
.video-container{
	overflow: hidden;
	position: relative;
	width: 100%;
}

.video-container::after{
	padding-top: 56.25%;
	display: block;
	content: '';
}

.video-container iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.img-fluid {
	max-width: 100%;
	height: auto;
	border-radius: 25px;
	margin-top: 65px;
    margin-left: 30px;
}
img{
	vertical-align: middle;
	border-style: none;
}
element.style{
	::
}
P{
	font-size: 18px;
}
P{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
li{
	 display: list-item;
    text-align: -webkit-match-parent;
}
ul{

    list-style-type: disc;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
.icons .fa{
	color: darkblue;
	font-size: 3em;

}
.logo{
	margin: 0 auto;
	display: block;	
	padding: 1px;
}

h4{
	color: blue;
}
h3{
	color: black;
	background-color: lightgray;
	display:block;
	padding: 3px;
	text-align: center;
}
h5{
	font-size: 2em;
}
.resume{
	margin: 30px auto;
	border: 10px solid ghostwhite;
	box-shadow: 8px 8px 8px black;
	padding: 30px 5%;
	max-width: 800px;
	border-radius: 10px;
}
header{
	background-color: #45818E;

}
.home-hero{
	min-height: 300px;
	background-image: url(images/bluegalaxy.png);
	background-size: cover;
	color: white;
	text-shadow: 2px 2px 0 black;
	padding: 10px;
}
.home-hero img{
	margin: 0 auto;
    display: block;
    border-radius: 15%;
    padding: 10px;
    background-color: blueviolet;
}
.gallery .preview{
    width:100%
    height: auto;
}

.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
    border-radius: 15px;
}
.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 0px;
    border: 35px solid royalblue;
    border-radius: 15px;
    box-shadow: 5px 5px 15px  gray;
    max-width: 100%;
    height: auto;
    margin: 10 auto !important;
    display: block !important;

}
/* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
    border: 35px solid royalblue;
    border-radius: 15px;
    margin: 10 auto !important;
    display: block !important;
  }
